    /* Shared Styles */
*{
    margin: 0;
    padding: 0;
}
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.big-display-hide{
    display: none;
}

    /* Navigation Section */

.a-class{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.li-item{
    list-style: none;
}
#home-nav{
    color: rgb(254, 163, 1);
}
#about-nav{
    color: rgb(1, 172, 253);
}
#facilities-nav{
    color: rgb(5, 212, 223);
}
#admission-nav{
    color: rgb(93, 88, 239);
}
.contact-btn{
    color: white;
    padding: 11px 52px;
    background-color: rgb(254, 163, 1);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
#school-bag-logo{
    width: 62px;
    height: 62px;
}
.brand-name{
    font-size: 2rem;
    font-weight: bold;
}
.nav-column-1{
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
}
.nav-column-2{
    display: flex;
    align-items: end;
    gap: 2rem;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
    /* Banner Section */

.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.banner-column-01{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}
.banner-title{
    font-size: 3.5rem;
}
.banner-description{
    font-size: 1.25rem;
}
.banner-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    padding: 11px 52px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
    /* three cards section */

.three-cards-section{
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-position: left;
}
.three-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    /* gap: 4.6rem; */
    margin: 1rem auto 3rem auto;
}
.three-cards-title{
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0rem 1.7rem 0rem;
}
.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 2rem 4rem 2rem;
    box-sizing: border-box;
    border-radius: 18.86px; 
}
.card-01{
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-02{
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-03{
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-title{
    color: rgba(32, 32, 32, 1);
}
.card-description{
    color: rgba(128, 128, 128, 1);
}
.card-btn-1{
    color: rgba(100, 200, 255, 1);
    background-color: white;
    border: none;
    cursor: pointer;
}
.card-btn-2{
    color: rgb(240, 170, 0);
    background-color: white;
    border: none;
    cursor: pointer;
}
.card-btn-3{
    color: rgb(135, 0, 255);
    background-color: white;
    border: none;
    cursor: pointer;
}
.two-slide-btns-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem
}
.two-arrow-btns{
    color: white;
    border-radius: 30px;
    background-color: rgb(254, 163, 1);
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
    /* Our Stories Section */
.our-stories-section{
    background-image: url(../assets/bg.png);
    background-size:contain;
    background-position: top;
    padding-top: 6rem;
    margin-bottom: 0rem;
}
.our-stories-linear{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}
.stories-box-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1rem;
    margin: 4rem 9.2rem;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    border-radius: 1rem;
}
.box-1{
    /* grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1 ; */
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    display: inline-block;
    display: block;
}
.box-1 img{
    /* height: 51%; */
    height: auto; 
}
.stories-title{
    text-align: center;
    font-size: 2rem;
}
.box-1-date{
    color: white;
    border: none;
    background-color: rgb(60, 216, 232);
    border-radius: 47.93px;
    padding: 15px 30px;
    /* width: 7rem; */
    max-width: 40%;
    margin: 0px;
    /* position: absolute; */
    top: 0%;
    left: 0%;
    transform: translate(20%, -50%);
    /* transform: translate(-355%, 499%); */
}
.box img{
    height: auto; 
}
.box-date{
    color: white;
    border: none;
    background-color: rgb(60, 216, 232);
    border-radius: 47.93px;
    padding: 10px 0px;
    /* width: 7rem; */
    max-width: 50%;
    margin: 0px;
    /* position: absolute; */
    /* top: 60%;
    left: 22%; */
    transform: translate(23%, -110%);
}
.box-1-title{
    margin-top: 2rem;
    margin-left: 2.2rem;
    margin-bottom: 3rem;
}
.box-title{
    margin-left: 1rem;
}
.box-description{
    margin-left: 2.2rem;
    color: rgba(102, 102, 102, 1);
}
.view-all-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    padding: 11px 52px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-bottom: 3rem;
}
    /* Footer Section */
.footer-section{
    color: rgb(255, 255, 255);
    background-color: rgb(1, 172, 253);
    height:auto;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15rem;
    padding: 100px 228px 174px 140px;
}
.footer-column-01{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;
}
.footer-img-brand-name{
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}
.footer-column-02-title{
    margin-bottom: 1.4rem;
}
.list-item{
    list-style: none;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.1rem;
}
.footer-column-03{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
/* Responsive for Small screen devices */

@media only screen and (max-width:576px) {
        /* Shared Styles */
    .display-hide{
        display: none;
    }
    #small-banner-br-hide{
        display: none;
    }
    .nav-bar{
        justify-content: space-between;
        margin: 0rem 1rem 0rem 1rem;
        gap: 1rem;
    }
    .nav-column-4{
        display: block;
    }
    .under-nav-hr{
        display: block;
        border: 0.5px solid rgb(254, 163, 1);
    }
        /* Banner section small screen */
    .banner-section{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;
        margin: auto 1rem;
    }
    .banner-column-01{
       gap: 1.7rem; 
    }
    .banner-column-02 img{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        margin-top: 2rem;
    }
    .banner-title{
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
    }
    .banner-description{
        font-weight: 500;
        text-align: center;
        font-size: 0.8rem;
    }
    .banner-btn{
        margin: 0 auto;
        padding: 12px 35px;
        font-size: 1rem;
        margin-bottom: 3rem;
    }
        /* .three cards section */
        /* .three-cards-section{
            background-image: url(../assets/bg.png);
            background-size: cover;
            background-position: center;
            background-color: red;
            padding: 3rem;
        } */
    .three-cards-container{
        flex-direction: column;
        gap: 1rem;
    }
    .card{
        /* padding: 3rem 4rem; */
        width: 90vw;
    }
    .three-cards-title{
        padding: 0px;
        margin: 0px;
        font-size: 1.5rem;
    }
    .card-description{
        font-size: 0.7rem;
    }
        /* Our Stories Section */
    .our-stories-section{
        padding-top: 1rem;
    }
    .stories-box-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;
        width: 90%;
    }
        /* footer section small screen */
    .footer-section{
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2rem;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 1rem;
        /* padding-bottom: 8rem; */
        height: 90vh;
    }
    .footer-column-01{
        gap: 1rem;
        /* background-color: red; */
        /* width: 32rem; */
    }
    .footer-column-03{
        flex-direction: column;
        min-width: 11.37rem;
        gap: 1.8rem;
    }
}